@page "/"
@using Syncfusion.Blazor.DropDowns
@attribute [Authorize]
@inject ICompanyService CompanyService;
@inject NavigationManager NavigationManager

<div class="card mt-4">
    <h4 class="card-header">You're logged in with Blazor WebAssembly & JWT!!</h4>
    <div class="card-body">
        <h6>Search</h6>
        <SfAutoComplete TItem="TickerData" TValue="string" DataSource="Tickers"
            Placeholder="Select a Ticker">

            <AutoCompleteFieldSettings Value="Ticker">

            </AutoCompleteFieldSettings>

           <AutoCompleteEvents 
               TItem="TickerData"
                TValue="string"
               OnValueSelect="@NavigateToCompany">
           </AutoCompleteEvents>

        </SfAutoComplete>
    </div>
</div>

@code {
    private string error;

    public class TickerData
    {
        public string Ticker { get; set; }
    }

    List<TickerData> Tickers = new List<TickerData>();

    protected override async Task OnInitializedAsync()
    {
        try {
            var strings = await CompanyService.GetTickers();
            foreach(var item in strings)
            {
                Tickers.Add(new TickerData
                    {
                        Ticker = item
                    });
            }
        } catch(Exception ex)
        {
            error = ex.Message;
            StateHasChanged();
        }
    }

    private void NavigateToCompany(SelectEventArgs<TickerData> args)
    {
        var ticker = args.ItemData.Ticker;
        NavigationManager.NavigateTo($"/company/{ticker}");
    }

}