@page "/"
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@attribute [Authorize]
@inject ICompanyService CompanyService;
@inject NavigationManager NavigationManager

<div class="card mt-4">
    <h4 class="card-header">Search</h4>
    <div class="card-body">
        <h6>Search</h6>

        <EditForm OnSubmit="@SearchCompany" Model="@model">
            <DataAnnotationsValidator />


            <SfAutoComplete TItem="TickerData" TValue="string" DataSource="Tickers"
                            Placeholder="Select a Ticker" @bind-Value="@model.Ticker">

                <AutoCompleteFieldSettings Value="Ticker">

                </AutoCompleteFieldSettings>

                <AutoCompleteEvents TItem="TickerData"
                                    TValue="string"
                                    OnValueSelect="@NavigateToCompany">
                </AutoCompleteEvents>

            </SfAutoComplete>

            <br/>

            <SfButton IsPrimary="true" type="submit" style="margin-top: 10px">Search</SfButton>

            <SfButton typeof="submit" style="margin-top: 10px" @onclick="NavigateToWatchlist">Watchlist</SfButton>

        </EditForm>
    </div>
</div>

@code {
    private string error;
    private TickerData model = new TickerData();

    public class TickerData
    {
        public string Ticker { get; set; }
    }

    List<TickerData> Tickers = new List<TickerData>();

    protected override async Task OnInitializedAsync()
    {
        try {
            var strings = await CompanyService.GetTickers();
            foreach(var item in strings)
            {
                Tickers.Add(new TickerData
                    {
                        Ticker = item
                    });
            }
        } catch(Exception ex)
        {
            error = ex.Message;
            StateHasChanged();
        }
    }

    private void NavigateToCompany(SelectEventArgs<TickerData> args)
    {
        var ticker = args.ItemData.Ticker;
        NavigationManager.NavigateTo($"/company/{ticker.ToUpper()}");
    }

     private void SearchCompany()
    {
        NavigationManager.NavigateTo($"/company/{model.Ticker.ToUpper()}");
    }

    private void NavigateToWatchlist()
    {
        NavigationManager.NavigateTo("/watchlist");
    }

}