@page "/"
@attribute [Authorize]
@inject ICompanyService CompanyService;

<div class="card mt-4">
    <h4 class="card-header">You're logged in with Blazor WebAssembly & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <Syncfusion.Blazor.DropDowns.SfAutoComplete TItem="TickerData" TValue="string" DataSource="Tickers"
            Placeholder="Select a Ticker">

            <Syncfusion.Blazor.DropDowns.AutoCompleteFieldSettings Value="Ticker">

            </Syncfusion.Blazor.DropDowns.AutoCompleteFieldSettings>
            <Syncfusion.Blazor.Data.SfDataManager 
                Url="https://localhost:7040/api/Company/tickers"
                Adaptor="Syncfusion.Blazor.Adaptors.WebApiAdaptor"
                CrossDomain=true>
            </Syncfusion.Blazor.Data.SfDataManager>

        </Syncfusion.Blazor.DropDowns.SfAutoComplete>

        <p>Output: @error</p>

       <table class='table'>
        <thead>
            <tr>
                <th>Tickers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Tickers)
            {
                <tr>
                    <td>@emp.Ticker</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>

@code {
    private string error;

    public class TickerData
    {
        public string Ticker { get; set; }
    }

    List<TickerData> Tickers = new List<TickerData>();

    protected override async Task OnInitializedAsync()
    {
        try {
            var strings = await CompanyService.GetTickers();
            foreach(var item in strings)
            {
                Tickers.Add(new TickerData
                    {
                        Ticker = item
                    });
            }
        } catch(Exception ex)
        {
            error = ex.Message;
            StateHasChanged();
        }
        //foreach(var item in strings)
        //{
        //    Tickers.Add(new TickerData
        //        {
        //            Ticker = item
        //    });
        //}
    }
}