@page "/search"
@inject ICompanyService ICompanyService
@using Syncfusion.Blazor.DropDowns;

<PageTitle>Search</PageTitle>

<h3>Search</h3>

@*<li><code>tickers: </code>: @GetTickers</li>*@

@code {

    private async Task<List<string>> GetTickers()
    {
        return await ICompanyService.GetTickers();
    }

}
