@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.IsUserLogin())
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Search</NavLink>
            <NavLink href="/watchlist" class="nav-item nav-link">Watchlist</NavLink>
            <button type="submit" @onclick="AuthenticationService.Logout">Wyloguj</button>
        </div>
    </nav>
}

<div class="container">
    @Body
</div>